.delete {
	width: 60%;
	min-width: 200px;
	min-height: 50px;
	padding: 20px 10px;
	position: fixed;
	top: 50vh;
	left: 50vw;
	border-radius: 10px;
	background: white;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 150;
	button {
		background-color: white;
		border-radius: 3px;
		border: 1px solid gray;
		cursor: pointer;
		margin: 0 15px;
		line-height: 25px;
		padding: 2px 10px;
		&:hover {
			background-color: red;
			color: white;
		}
	}
}
